*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Linux
*~
.fuse_hidden*
.nfs*

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Composer
/vendor/
composer.phar

# PHPStan cache
.phpstan/

.env
